{% extends "base_auth.html" %}
{% load i18n %}
{% block title %}
    {% trans "Logged out" %}
{% endblock title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-4">
            <div class="card border-0 rounded-4 shadow">
                <div class="card-body p-4 p-md-5 text-center">
                    <h3 class="fw-bold mb-1">{% trans "See you next time!" %}</h3>
                    <p class="text-muted small mb-4">{% trans "You have been successfully logged out." %}</p>
                    <a href="{% url 'login' %}" class="btn btn-dark rounded-pill px-4">{% trans "Sign in again" %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
