{% extends "menu/base.html" %}
{% block title %}
    Menu waiter
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="d-grid gap-2 col-6 mx-auto pt-5">
            <a href="{% url 'service:order-table' %}"
               class="btn btn-primary"
               type="button">Stwórz zamówienie</a>
            <button class="btn btn-primary" type="button" disabled>Dodaj do zamówienia</button>
            <button class="btn btn-primary" type="button" disabled>Edytuj zamówienie</button>
            <a href="{% url 'service:table-settle' %}"
               class="btn btn-primary"
               type="button">Rozliczenie</a>
        </div>
    </div>
{% endblock content %}
