{% extends "menu/base.html" %}
{% block title %}
    Menu waiter
{% endblock title %}
{% block content %}
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">Stwórz zamówienie</button>
        <button class="btn btn-primary" type="button">Dodaj do zamówienia</button>
        <button class="btn btn-primary" type="button">Edytuj zamówienie</button>
        <button class="btn btn-primary" type="button">Rozliczenie</button>
    </div>
{% endblock content %}
