{% extends "menu/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex justify-content-center mb-4 flex-wrap">
        {% for value, label in categories %}
            <a href="?category={{ value }}"
               class="btn {% if selected_category == value %}btn-primary{% else %}btn-outline-primary{% endif %} m-1">
                {{ label }}
            </a>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center mb-4 flex-wrap">
        <a class="btn btn-outline-success m1" href="{% url 'item-add' %}">Dodaj pozycje</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Cena</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Dodatki</th>
                <th scope="col">Aktywny</th>
                <th scope="col">Cel</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                <tr onclick="window.location='{% url 'item-update' item.id %}'">
                    <th scope="row">{{ item.id_checkout }}</th>
                    <td>{{ item.price }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        {% for addition in item.additions.all %}
                            {{ addition.name }}
                            {% if not forloop.last %},{% endif %}
                        {% empty %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if item.is_available %}
                            <p class="text-success">Tak</p>
                        {% else %}
                            <p class="text-danger">Nie</p>
                        {% endif %}
                    </td>
                    <td>{{ item.preparation_location }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
