{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% block title %}
    {% trans "Update work time" %}
{% endblock title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <div class="card border-0 rounded-4 shadow">
                <div class="card-body p-4 p-md-5">
                    <div class="mb-4">
                        <h3 class="fw-bold mb-1">{% trans "Update Work Time" %}</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2 d-sm-flex mt-4">
                            <button type="submit" class="btn btn-dark rounded-pill px-4 w-100">{% trans "Update" %}</button>
                            <a href="{% url 'gf-worker:worker-detail' object.worker.pk %}"
                               class="btn btn-outline-secondary rounded-pill px-4 w-100">{% trans "Cancel" %}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
